@using UserSignup.Models
@model List<User>

<h1>User Directory</h1>

<p><a asp-area="" asp-controller="User" asp-action="Add">Create a new user</a>.</p>

@foreach(User user in Model)
{
    <h2>@user.FullName</h2>
    <p>UserId: @user.UserId</p>
    <p>Username: @user.Username</p>
    <p>Phone Number: @user.PhoneNumber</p>
    <p>Email: @user.Email</p>
    <p><small>Created at @user.CreatedDate.ToString("d")</small></p>
}
